 <form method="post" action="/recipes/<%= @recipe.id %>">

    <h1>Edit your recipe info: </h1>
    
    <h2>Recipe: </h2>
    <label> Recipe Name: </label>
    <h2> <%= @recipe.name %></h2>
    <input type="text" id="name" name="recipe[name]" value="<%= @recipe.name %>" />
       
    <label> Recipe Ingredients:</label>
    <h2> <%= @recipe.ingredients %></h2>
    <input type="text" id="ingredients" name="recipe[ingredients]" value="<%= @recipe.ingredients %>"/>
        
    <label> Recipe Cook Time: </label>
    <h2> <%= @recipe.cook_time %></h2>
    <input type="text" id="cook_time" name="recipe[cook_time]" value="<%= @recipe.cook_time %>" />
        
    <input id="hidden" type="hidden" name="_method" value="PATCH" />
       

<button type="submit" id="id" value="submit">submit</button>

  </form>